.mhp-bs {
    margin-top: 24px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    //align-items: flex-start;
    &-mynews, &-morenews {
        width: calc(50% - 8px);
    }
    &-mynews {
        &-header {
            order: 1;
        }
        &-content {
            order: 3;
        }
    }
    &-morenews {
        &-header {
            order: 2;
        }
        &-content {
            order: 4; 
            display: flex;
            flex-direction: column;

        }

    }
    &-mynews-content {
        display:flex;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: column;
    }
}