.mhp-card {
    background: $light-grey-bg; 
    border-top: 2px solid $highlight-color;
    //border-radius: 0 0 5px 5px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.02), 0 1px 4px 0 rgba(0,0,0,0.1), 0 0 6px 0 rgba(0,0,0,0.06);
    overflow: hidden;
}