.mhp-cta {
    margin-top: 16px;
    background: $light-blue-bg;
    height: 81px;
    &-text {
        padding: 12px 16px;
    }
    &-subtitle {
        color:black;
        line-height: 1.2;
        font-size: 14px;
        margin-bottom: 2px;
    }
    &-h2 {
        line-height: 1.2;
    }
}